---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/discover/movie?page=1&sort_by=vote_average.desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 92328b8dbe613c069d6d8c7543fca78c
      X-Memc-Age:
      - '7057'
      X-Memc-Expires:
      - '20891'
      Etag:
      - W/"4dc750da14dd1890bedb4fb2cac38a04"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[18],"id":1399680,"original_language":"en","original_title":"Tea
        & Biscuit Crumbs","overview":"Dorothy is an elderly woman who struggles with
        loneliness and is suffering the loss of her late partner. Strange and inexplainable
        happenings begin to follow her around the house, causing her unease. That
        is until she uncovers the cause and resists her family’s contempt, unveiling
        a curious and heartwarming relationship.","popularity":0.0,"poster_path":"/d4nBVzLDFnvuQ3g68MPF4t4QtgV.jpg","release_date":"2024-12-03","title":"Tea
        & Biscuit Crumbs","video":false,"vote_average":10.0,"vote_count":1},{"adult":false,"backdrop_path":"/m0PAmGXo8QVftALE1hzQYgPRPzA.jpg","genre_ids":[10402],"id":1399572,"original_language":"ja","original_title":"マクロスFとΔ合わせ
        京都南座歌舞伎ノ宴(両日とも夜の部がメイン)<1月13日(土)夜の部>","overview":"","popularity":0.0,"poster_path":"/g7MnvWFfAJ8ROM6uu0xhWPwCImz.jpg","release_date":"2024-06-05","title":"マクロスFとΔ合わせ
        京都南座歌舞伎ノ宴(両日とも夜の部がメイン)<1月13日(土)夜の部>","video":false,"vote_average":10.0,"vote_count":1},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":1399563,"original_la[...]
