---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 5dfd93b8685f3044b4e3a03ef882eddf
      X-Memc-Age:
      - '1691'
      X-Memc-Expires:
      - '25103'
      Etag:
      - W/"aff968fc49f60f0ff11497376f7f2790"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/zqkmTXzjkAgXmEWLRsY4UpTWCeo.jpg","belongs_to_collection":{"id":10,"name":"Star
        Wars Collection","poster_path":"/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg","backdrop_path":"/zZDkgOmFMVYpGAkR9Tkxw0CRnxX.jpg"},"budget":11000000,"genres":[{"id":12,"name":"Adventure"},{"id":28,"name":"Action"},{"id":878,"name":"Science
        Fiction"}],"homepage":"http://www.starwars.com/films/star-wars-episode-iv-a-new-hope","id":11,"imdb_id":"tt0076759","origin_country":["US"],"original_language":"en","original_title":"Star
        Wars","overview":"Princess Leia is captured and held hostage by the evil Imperial
        forces in their effort to take over the galactic Empire. Venturesome Luke
        Skywalker and dashing captain Han Solo team together with the loveable robot
        duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and
        justice in the Empire.","popularity":98.77,"poster_path":"/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg","production_companies":[{"id":1,"logo_path":"/tlVSws0RvvtPBwViUyOFAO0vcQS.png","name":"Lucasfilm
        Ltd.","origin_country":"US"},{"id":25,"logo_path":"/qZCc1lty5FzX30aOCVRBLzaVmcp.png","name":"20th
        Century Fox","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1977-05-25","revenue":775398007,"runtime":121,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"A
        long time ago in a galaxy far, far away...","title":"Star Wars","video":false,"vote_average":8.203,"vote_count":20624}'
  recorded_at: Mon, 09 Dec 2024 21:13:46 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/11/credits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 3bde63700fba3c5bb564265d9a76da89
      X-Memc-Age:
      - '16461'
      X-Memc-Expires:
      - '7583'
      Etag:
      - W/"fa64a7c846b7b007670059b839836848"
    body:
      encoding: UTF-8
      string: '{"id":11,"cast":[{"adult":false,"gender":2,"id":2,"known_for_department":"Acting","name":"Mark
        Hamill","original_name":"Mark Hamill","popularity":22.62,"profile_path":"/2ZulC2Ccq1yv3pemusks6Zlfy2s.jpg","cast_id":3,"character":"Luke
        Skywalker","credit_id":"52fe420dc3a36847f8000441","order":0},{"adult":false,"gender":2,"id":3,"known_for_department":"Acting","name":"Harrison
        Ford","original_name":"Harrison Ford","popularity":33.902,"profile_path":"/n4dwIg6NbQzeMaS1yEKKlfNJH7a.jpg","cast_id":4,"character":"Han
        Solo","credit_id":"52fe420dc3a36847f8000445","order":1},{"adult":false,"gender":1,"id":4,"known_for_department":"Acting","name":"Carrie
        Fisher","original_name":"Carrie Fisher","popularity":10.695,"profile_path":"/2vmMjXMFW9ebX9VNKPW7WD6HLOR.jpg","cast_id[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/11/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 79d001b9d7c04607bc73f8bd48118abb
      X-Memc-Age:
      - '5330'
      X-Memc-Expires:
      - '18955'
      Etag:
      - W/"ee565781e8d16114c54e9e582863fc0c"
    body:
      encoding: UTF-8
      string: "{\"id\":11,\"page\":1,\"results\":[{\"author\":\"Cat Ellington\",\"author_details\":{\"name\":\"Cat
        Ellington\",\"username\":\"CatEllington\",\"avatar_path\":\"/uCmwgSbJAcHqNwSvQvTv2dB95tx.jpg\",\"rating\":null},\"content\":\"(As
        I'm writing this review, Darth Vader's theme music begins to build in my mind...)\\r\\n\\r\\nWell,
        it actually has a title, what the Darth Vader theme. And that title is \\\"The
        Imperial March\\\", composed by the great John Williams, whom, as many of
        you may already know, also composed the theme music for \\\"Jaws\\\" - that
        legendary score simply titled, \\\"Main Title (Theme From Jaws)\\\".\\r\\n\\r\\nNow,
        with that lil' bit of trivia asid[...]
