---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/75780
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - ac0c1e27c9ecc8a7c80cb66c51c30009
      X-Memc-Age:
      - '8660'
      X-Memc-Expires:
      - '19927'
      Etag:
      - W/"b683305868b7827cbe85fd79adc118bd"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/iwvP8XVpYVmJ3xfF9xdBi5uAOWl.jpg","belongs_to_collection":{"id":403374,"name":"Jack
        Reacher Collection","poster_path":"/qtafXiYDUMKxzsssU41qWey5oiT.jpg","backdrop_path":"/vViRXFnSyGJ2fzMbcc5sqTKswcd.jpg"},"budget":60000000,"genres":[{"id":80,"name":"Crime"},{"id":18,"name":"Drama"},{"id":53,"name":"Thriller"},{"id":28,"name":"Action"}],"homepage":"http://www.jackreachermovie.com/","id":75780,"imdb_id":"tt0790724","origin_country":["US"],"original_language":"en","original_title":"Jack
        Reacher","overview":"One morning in an ordinary town, five people are shot
        dead in a seemingly random attack. All evidence points to a single suspect:
        an ex-military sniper who is quickly brought into custody. The interrogation
        yields one written note: ''Get Jack Reacher!''. Reacher, an enigmatic ex-Army
        investigator, believes the authorities have the right man but agrees to help
        the sniper''s defense attorney. However, the more Reacher delves into the
        case, the less clear-cut it appears. So begins an extraordinary chase for
        the truth, pitting Jack Reacher against an unexpected enemy, with a skill
        for violence and a secret to keep.","popularity":61.542,"poster_path":"/uQBbjrLVsUibWxNDGA4Czzo8lwz.jpg","production_companies":[{"id":4,"logo_path":"/gz66EfNoYPqHTYI4q9UEN4CbHRc.png","name":"Paramount
        Pictures","origin_country":"US"},{"id":82819,"logo_path":"/gXfFl9pRPaoaq14jybEn1pHeldr.png","name":"Skydance
        Media","origin_country":"US"},{"id":21777,"logo_path":null,"name":"TC Productions","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2012-12-20","revenue":218300000,"runtime":130,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"The
        law has limits. He does not.","title":"Jack Reacher","video":false,"vote_average":6.6,"vote_count":6976}'
  recorded_at: Thu, 05 Dec 2024 18:23:07 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Thu, 05 Dec 2024 18:23:08 GMT
recorded_with: VCR 6.3.1
