---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/discover/movie?page=1&sort_by=vote_average.desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 92328b8dbe613c069d6d8c7543fca78c
      X-Memc-Age:
      - '9373'
      X-Memc-Expires:
      - '17702'
      Etag:
      - W/"39161e6fb78fdeeb8c7416d88272c3a5"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[35],"id":1397725,"original_language":"en","original_title":"ABSURDITY.","overview":"It''s
        finally time for this fool to return to his winter home: Prison! To do so,
        he commits various crimes around town attract the police. Will he succeed?","popularity":0.0,"poster_path":"/iO9w02mWqCBxztpSHxt717R6anM.jpg","release_date":"","title":"ABSURDITY.","video":false,"vote_average":10.0,"vote_count":1},{"adult":false,"backdrop_path":"/if7psTcBoknKHR4MJ4Bxi3mgXxs.jpg","genre_ids":[27,18,53],"id":1397483,"original_language":"pt","original_title":"Vestido
        Branco com Listras Vermelhas","overview":"","popularity":0.847,"poster_path":"/eVde5pZ5Cvm9WA4uUeo40KvZwsz.jpg","release_date":"2024-08-26","title":"Vestido
        Branco com Listras Vermelhas","video":false,"vote_average":10.0,"vote_count":1},{"adult":false,"backdrop_path":"/j30eAo11F7MuShga6Jj5Nh5lKO.jpg","genre_ids":[],"id":139732[...]
