---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c199cfd497d0785aface532305cbb153
      X-Memc-Age:
      - '6096'
      X-Memc-Expires:
      - '19980'
      Etag:
      - W/"00bbb2dc6ef8bb1c778ebab2ba5885f4"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/l94l89eMmFKh7na2a1u5q67VgNx.jpg","belongs_to_collection":{"id":1382526,"name":"Kaurismäki''s
        Proletariat Trilogy","poster_path":null,"backdrop_path":null},"budget":0,"genres":[{"id":35,"name":"Comedy"},{"id":18,"name":"Drama"},{"id":10749,"name":"Romance"}],"homepage":"","id":3,"imdb_id":"tt0092149","origin_country":["FI"],"original_language":"fi","original_title":"Varjoja
        paratiisissa","overview":"Nikander, a rubbish collector and would-be entrepreneur,
        finds his plans for success dashed when his business associate dies. One evening,
        he meets Ilona, a down-on-her-luck cashier, in a local supermarket. Falteringly,
        a bond begins to develop between them.","popularity":13.034,"poster_path":"/nj01hspawPof0mJmlgfjuLyJuRN.jpg","production_companies":[{"id":2303,"logo_path":null,"name":"Villealfa
        Filmproductions","origin_country":"FI"}],"production_countries":[{"iso_3166_1":"FI","name":"Finland"}],"release_date":"1986-10-17","revenue":0,"runtime":74,"spoken_languages":[{"english_name":"Finnish","iso_639_1":"fi","name":"suomi"},{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Swedish","iso_639_1":"sv","name":"svenska"}],"status":"Released","tagline":"","title":"Shadows
        in Paradise","video":false,"vote_average":7.297,"vote_count":399}'
  recorded_at: Thu, 05 Dec 2024 18:23:08 GMT
[...]
